<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <!--<link rel="stylesheet" type="text/css" href="./style.css" />-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <ul>
      <li><a href="/recipes">All Recipes</a></li>
      <li><a href="/addRecipe">Add Recipe</a></li>
      <li><a href="/addIngredient">Add Ingredient</a></li>
      <li><a href="/addRecipeIngredient">Add Recipe Ingredient</a></li>
    </ul>
  </head>
  <body>
    {{{body}}}
  </body>
</html>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  li {
    display: inline;
  }
</style>